<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-kruGL" value="https://nuget.pkg.github.com/transystor/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <github-kruGL>
      <add key="Username" value="YOUR_GITHUB_USERNAME" />
      <add key="ClearTextPassword" value="YOUR_GITHUB_TOKEN" />
    </github-kruGL>
  </packageSourceCredentials>
</configuration>
